i {
    cursor: pointer;
}

#card-cont {
    display: flex;
    justify-content: center;
    column-gap: 0.5vw;
}

.r-card {
    width: 7.5vw;
}
.cards {
    width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards div {
    padding: 0px 20px 0px 20px;
}